# .github/workflows/build-release-ubuntu.yml
name: Build Swift Release on Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libjemalloc-dev \
            libcurl4 \
            ca-certificates \
            tzdata \
            libxml2

      - name: Set up Swift
        uses: fwal/setup-swift@v2
        with:
          swift-version: '6.1'

      - name: Build Vapor server
        run: |
          swift build -c release \
            --product ProxLock \
            --static-swift-stdlib \
            -Xlinker -ljemalloc
            
      - name: Upload server executable
        uses: actions/upload-artifact@v4
        with:
          name: ProxLock-executable
          path: .build/release/ProxLock