# .github/workflows/build-release-ubuntu.yml
name: Build Swift Release on Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Swift
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: '6.1'

      - name: Build Swift Release
        run: swift build -c release

      - name: Upload ProxLock binary
        uses: actions/upload-artifact@v4
        with:
          name: ProxLock
          path: ./.build/release/ProxLock