# .github/workflows/build-release-ubuntu.yml
name: Build Swift Release on Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Set up Swift
      - name: Set up Swift
        uses: fwal/setup-swift@v2
        with:
          swift-version: '6.1'  # Change to your Swift version

      # Step 3: Build in release mode
      - name: Build Swift Release
        run: swift build -c release

  upload:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ProxLock
      - name: Upload ProxLock binary
        uses: actions/upload-artifact@v4
        with:
          name: ProxLock
          path: ./.build/release/ProxLock